@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";

body {
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Figtree', sans-serif; */
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 24px;
  @apply font-light text-[#220628] bg-[#F9F3EB];
}

.main-navigation {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.btn-small {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.btn-large {
  @apply bg-[#FFCB00] hover:bg-[#F3C82C] rounded-2xl px-14 py-5 font-medium text-black;
}